html,body{
    background-color: rgb(255, 255, 255);
}

*{
    margin: 0;
}

.title__project{
    display: flex;
    justify-content: center;
}

.title__project__wrapper{
    max-width: 550px;
    margin-top: 40px;
}

.title__content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(180, 180, 180);
}

.title__content p{
    margin: 10px;
}

.title__1{
    font-weight: bold;
    font-size: 25px;
    color:rgb(9, 10, 73);
}

.title__2{
    font-size: 15px;
    font-weight: bold;
}


.content__project__wrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 70px;
    text-align: center;
}

.content__item{
    max-width: 400px;
}

.kalendar__img{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.content__item__title{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content__item__txt{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(180, 180, 180);
}

.content__submit{
    margin-top: 50px;
    text-align: center; 
}

.content__submit__item{
    background-color: rgb(8, 192, 100);
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgb(7, 141, 74);
    color: white;
    transition: .5s;
    box-shadow: 0px 1px 1px 0px black;
}

.content__submit__item:hover{
    background-color: rgb(19, 241, 130);
}

.statistics__project__wrapper{
    display: flex;
    flex-direction: row;
    background-color: brown;
    margin-top: 210px;
} 

.statistics__item1 {
    max-width: 25%;
    background-color: aqua;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.statistics__item2 {
    max-width: 25%;
    background-color: rgb(77, 245, 35);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.statistics__item3 {
    max-width: 25%;
    background-color: rgb(96, 30, 252);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.statistics__item4 {
    max-width: 25%;
    background-color: rgb(209, 22, 22);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.statistics__project .statistics__project__wrapper {
    color: white;
    font-weight: bold;
}

.statistics__item__txt__content{
    margin-top: 55px;
    flex-direction: column;
}
.pen__img{
    width: 50px;
    height: 50px;
    margin-top: 50px;
}